html,
body {
    height: 100%;
}

body {
    background-image: url("../images/background.png");
}

#not-footer {
    flex: 1 0 auto;
}

.modal-content {
    border: none !important;
}

.portfolio-picture, .portfolio-title {
    cursor: pointer;
}

.linkImage {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.linkImage:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 575px) {
    #brandText {
        font-size: 1.25rem;
    }

    #mainArea {
        border-right: none !important;
        border-left: none !important;
    }
}

@media screen and (max-width: 359px) {
    #brandText {
        font-size: 1.05rem;
    }
}