html,
body {
    height: 100%;
}

body {
    background-image: url("../images/background.png");
}

#not-footer {
    flex: 1 0 auto;
}

.modal-content {
    border: none !important;
}

.portfolio-picture, .portfolio-title {
    cursor: pointer;
}